#navbar {
    background-color: blue;
    /* padding: 10px; */
    overflow: hidden;
}

#navbar a {
    float: left;
    text-align: center;
    padding: 10px;
    background-color: blue;
}

#navbar a:hover {
    background-color: blueviolet;
}