#navbar {
    background-color: blue;
    /* padding: 10px; */
    overflow: hidden;
}

#navbar a {
    float: left;
    text-align: center;
    padding: 10px;
    background-color: blue;
}

#navbar a:hover {
    background-color: blueviolet;
}

#content {
    display: flex;
    flex-wrap: wrap;
}

#content-main {
    flex: 1 1 70%;
    min-width: 25ch;
    display: flex;
    justify-content: center;
}

#content-side {
    flex: 1 1 30%;
}